<div class="row">
  <section class="main col-md-9">
    <article>
    <h2>About</h2>
    <p>Hello! This is a demo website for a blog :)</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Comming Soon</h2>
    <p>Stay tuned for future updates...</p>
  </aside>
</div>